
body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    /*color: #777;*/
    color: black;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-9 {
    position: relative;
    opacity: 5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bgimg-1 {
    background-image: url("../app/Img/Inventory.png");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("../app/Img/inventory-management-software.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("../app/Img/software_development.jpg");
    min-height: 450px;
}

.bgimg-4 {
    background-image: url("../app/Img/Contact-us-Snugg-Living.jpg");
    min-height: 550px;
    background-size: cover;
}
.bgimg-5{
    background-image: url("../app/Img/orderlog.png");
    min-height: 900px;
    opacity: 5;
}
.bgimg-9 {
    background-image: url("../app/Img/Inventory.png");
    min-height: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font: 400 15px/1.8 "Lato", sans-serif;
}

.caption1 {
    position: relative;
    left: 0;
    /*right: auto;*/
    top: 20%;
    width: 50%;
    text-align: center;
    color: #000;
    font: 400 15px/1.8 "Lato", sans-serif;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    font: 400 15px/1.8 "Lato", sans-serif;

}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: white;

}
h4{
    color: white;
}
h2{
    color: black;
}
h1{
    color: white;
}
.fa-check-circle:before {
    content: "\f058";
    color: green;
}
.fa-times:before {
    content: "\f05c";
    color: red;}
.fa-spinner:before {
    content: "\f110";
    color: black;
}
.fa-cart-plus:before {
    content: "\f217";
    color: gold;
}
.fa-pencil:before {
    content: "\f040";
    color: blue;
}
.fa-thumbs-up:before {
    content: "\f087";
    color: gold;
}
.fa-refresh:before {
    content: "\f021";
    color: blue;
}